@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f1415;
  margin: 0;
  color: #dfe3e4;
}

/* Ensure Sidebar is always above content on small screens */
aside, .sidebar-container {
  z-index: 100 !important;
}

.card-glow {
  box-shadow: inset 0 0 20px rgba(120, 229, 239, 0.02), 0 10px 15px -3px rgba(0, 0, 0, 0.5);
  font-family: 'Inter', sans-serif;
}

